<html>
    <head>
        <style>
            body{
                align-content: center;
                text-align: center;
                font-size: large;
            }
        </style>
    </head>
    <body>
        <%= decryptedMsg %>
    </body>
</html>